.site-content {
	.wrapper {
		display: flex;
		.content-area {
			flex:1 1 75%;
		}
		.widget-area {
			overflow: hidden;
			flex: 1 0 25%;
		}

	}
}

.site-footer {
	width: $size__site-main;
}


@import "no-sidebar";
