.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}

}
@include not_desktop {
	.wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
		width: 100%;
		margin:5px;
	}
}
.blocks-gallery-item {
	figure {
		overflow: hidden;
		img {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
			opacity: 1;
		}
		img:hover {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0.8;
		}
	}


}
.gallery-caption {
	display: block;
}
