// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
@mixin mobile {
	@media (max-width: 599px) { @content; }
  }
  @mixin tablet-portrait {
	@media (min-width: 600px ) and (max-width: 900px ) { @content; }
  }
  @mixin tablet-landscape {
	@media (min-width: 900px ) and (max-width: 1200px) { @content; }
  }
  @mixin not_mobile {
	@media (min-width: 600px ) { @content; }
  }
  @mixin tab_ls_max {
	@media (max-width: 900px ) { @content; }
  }
  @mixin tab_ls_min {
	@media (min-width: 900px ) { @content; }
  }
  @mixin not_desktop {
	  @media (max-width : 1200px) {@content;}
  }
  @mixin desktop {
	@media (min-width: 1200px) { @content; }
  }
  @mixin large-dk {
	@media (min-width: 1800px) { @content; }
  }
