.home {
    .entry-header{
        @include not_mobile {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            @include mobile {
                background-position-x: 50%;
                background-size: contain;
            }
        }
        >div {
                padding: 40px 0;    
                background-color: rgba($home-bg-color,.7);
                @include text-contrast($home-bg-color);
                >p {
                    text-align: center;
                    @include not_mobile {
                        width:50%;
                    }
                  
                   
                    margin:auto;
                }
            
            img {
                border-radius: 50%;
            }
            @include not_desktop {
                p,ul {
                    padding: 10px;
                }
            }
            .wp-block-column {
                display: flex;
                p, ul {
                    @include desktop {
                        width: 60%;
                        margin: auto;
                    }
                }
                @include not_desktop {
                    p,ul {
                        width: 80%;
                        
                    }
                }
                @include not_mobile {
                    p,ul {
                        margin:auto;
                    }
                }
                @include mobile {
                    p {
                        text-align: center;
                    }
                    p,ul {
                        width:100%;
                    } 
                }
            }   
        }
    }

    .blocks-gallery-item {
        figcaption {
            font-size:18px;
        }
        
    } 
    
}

