




$color_background_body: #fff !default;
$color_background_screen: darken($color_background_body,2%);
$color_background-hr: darken($color_background_body,5%);
$color_background-button: darken($color_background_body,5%);
$color_background-pre: darken($color_background_body,5%);
$color_background-ins: darken($color_background_body,5%);

$color_text-screen: #21759b;
$color_text-input: #666;
$color_text-input-focus: #111;

$color_link_light: royalblue !default;
$color_text_main: #404040 !default;

$color_text_dark : #eeeeee;
$color_link_dark: royalblue !default;


$color_border-button: #ccc #ccc #bbb;
$color_border-button-hover: #ccc #bbb #aaa;
$color_border-button-focus: #aaa #bbb #bbb;
$color_border-input: #ccc;
$color_border-abbr: #666;



