.sticky {
	display: block;
}
.wrapper {
	max-width: 1280px;
	margin:auto;
	display: flex;
}


.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;

}
